<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addClick()" data-backup="static" data-keyboard="false">
  Add Department
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-dep [dep]="dep" *ngIf="ActivateAddEditDepCamp"></app-add-edit-dep>
      </div>
    </div>
  </div>
</div>

<table class="table table-scripted">
  <thead>
    <tr>
      <th>Department ID</th>
      <th>Department Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of DepartmentList">
      <td>{{ dataItem.departmentId }}</td>
      <td>{{ dataItem.departmentName }}</td>
      <td>
        <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="editClick(dataItem)" data-backup="static" data-keyboard="false">Edit</button>
        <button type="button" class="btn btn-light mr-1">Delete</button>
      </td>
    </tr>
  </tbody>
</table>